*{
    transition: all 0.2s ease-in-out;
}

body {
    text-align: center;
}

p>img {
    width: 15%;
    padding: 10px;
    margin: 5;
    border-radius: 10px;
    background-color: yellow;
    box-shadow: 5px, blue;
}

p>img:hover {
    box-shadow: 20px, red;
    background: aqua;
}

.product {
    width: 25%;
    float: left;
    border-radius: 10px;
    box-shadow: 5px gray;
    padding: 10px;
    margin: 10px text-align;
}

.product .name {
    font-size: larger;
    font-variant: small-caps;
    color: blue;
}

.product .img {
    max-width: 95%;
}

.product .price {
    color: red;
    font-weight: bold;
    font-size: larger;
}

.product .price>del {
    color: gray;
    font-size: medium;
}

.product:hover {
    box-shadow: 5px 5px 5px green;
}